.container {
  height: 100%;
  display: grid;
  justify-content: center;
grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 4fr 3fr;
  grid-template-areas: 
  "project header header"
  "project main ."
  "project footer footer";

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }

}
.projectList{
  grid-area: project;  
}
.header{
  grid-area: header;
  background-color:darkgrey;
}
#Input{
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
  background: transparent;
  border: none;   
}
#Content{
  grid-area: main;
  text-align: center;
  color:white;
}
.DoneAssignments{
  text-decoration: line-through;
  color:lightgrey;
}