/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  background-image: linear-gradient(45deg, 
  #07026e 0%, 
  #1f1fce 35%, 
  #2ba4bd 100%);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
}
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

